html {
  --blue: #4ADEDE;
  --white: #fff;
  --purple: #787FF6;
  --green700: #E0ECDE;
  --grey: #808683;

  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.App {
  text-align: center;
}

.app-container {
  min-height: 100%;
  background-image: linear-gradient(to bottom right, var(--green700), var(--white));
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
}

#root, body, html {
  height: 100%;
}

.title-container {
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  row-gap: 25px;
}

.title-primary-1 > b {
  font-size: 40px;
  font-style: italic;
}

.title-primary-2 {
  font-style: italic;
}

.title-secondary-1 {
  color: var(--grey);
}

.title-secondary-2 {
  background-image: linear-gradient(to bottom right, var(--blue), var(--purple));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 100px;
  width: max-content;
}

@media (max-width:500px) {
  html {
    font-size: 10px;
  }

  .app-container {
    padding: 50px 0;
  }

  .card-container {
    margin-top: 50px;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .title-primary-1 > b {
    font-size: large;
    font-style: italic;
  }
}
