.card {
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
  transition: transform 300ms ease-in;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, var(--blue), var(--purple));
}

.card[data-is-selected = 'false']:hover {
  transform: scale(1.02);
}

.card[data-is-selected = 'true'] {
  cursor: not-allowed;
}